@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Fjalla One', sans-serif;
  background:#efefef;
}

a {
  text-decoration: none;
  color:#D90429;
}

.container {
  max-width: 80%;
  margin: 1.5em auto;
  padding: 0 20px;
}

header {
  padding: 1rem 5%;
  background:#D90429;
}


.header-title {
  font-size: 2.8em;
  padding-top: 0;
  color:#fff;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-btn{
  display: inline-block;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 1em;
  margin-right: 1.5em;
}

.filter-btn:hover{
  border: 1px solid #D90429;
  background:#D90429;
  color: #fff;
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1.5rem;
}

.card {
  height: 400px;
  width:350px;
  padding: 3rem 1.5em;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}
.card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .info h1 {
  font-size: 2.5em;
}
.card .info p {
  font-size: 1.1em;
  margin-top: 8px;
}
.card .info .btn {
  display: inline-block;
  padding: 0.8rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 1.2em;
}
.card .info .btn:hover {
  background: #D90429;
  color: #fff;
}


.hero-details {
  color: #000;
  display: flex;
  padding: 2rem;
  margin-bottom: 2em;
}

.hero-details img {
  min-width: 260px;
  align-self: center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}


.hero-card-info {
  padding-left: 2rem;
  flex-grow: 1;
}

.hero-card-info h2 {
  font-size: 2.5em;
  margin-bottom: 0.4em;
}

.hero-card-info .primary-title {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  display: grid;
  grid-template-columns: 250px auto;
}

.hero-powers {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8em;
}

.hero-powers p {
  margin: 0.5em;
  padding: .8em;
  background-color: #333;
  color: #fff;
}


footer {
  margin-top:4em;
  padding-top:2em;
  padding-bottom:2em;
  background:#333;
  color:#fff;
}

@media (max-width: 1200px) {

  
  .container {
    max-width: 90%;
    padding:0;
  }

  .card .info{
    padding:1em;
  }

  .card{
    padding:0;
    width:300px;
  }

  .card img{
    width:auto;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-details {
    flex-direction: column;
  }
  .hero-details img {
    margin-bottom: 2em;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 90%;
    padding:0;
  }

  .card{
    padding:0;
  }

  .hero-details {
    flex-direction: column;
  }
  .hero-details img {
    margin-bottom: 2em;
  }
}
@media (max-width: 750px) {
  .header-title {
    font-size: 3em;
    padding:0;
  }

  .cards {
    grid-template-columns: fit-content(100%);
  }

  .hero-card-info {
    flex-grow: 0;
    padding-left: 0;
    margin-top: 1em;
  }
}

@media (max-width: 680px) {
  .header-title {
    font-size: 2.5em;
  }
  

  .hero-card-info .primary-title {
    font-size: 1.1em;
    margin-bottom: 0.2em;
    grid-template-columns: 130px auto;
  }
}
